body {
    background: rgb(125, 34, 195);
    background: linear-gradient(0deg, rgba(125, 34, 195, 1) 0%, rgba(62, 45, 253, 1) 100%);
    color: white;
}

a,
a.text:active,
a.text:hover,
a.text {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */

}

header li a {
    position: right;
}


.menu {
    display: flex;
    float: right;
}

.menu li {
    margin-right: 10px;
}

.greetings {}